<h1>以下の内容で編集する</h1>


<%= form_with(model: @post, url:post_path, local: true, method: :put ) do |form| %>

<%= form.label :content %>
<%= form.hidden_field :content %>
     
    <p><%= @post.content %></p>
    <%= form.submit "投稿する" %>
<% end %>

<%= form_with(model: @post, url: edit_post_path, local: true, method: :get) do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit "もどる", name: 'back' %>
<% end %>