<h1><%= @user.name %></h1>

<p>メールアドレス:<%= @user.email %></p>

<%= link_to 'お気に入り写真一覧', favorites_user_path(@user.id), method: :get, class: 'btn btn-danger' %><br>

<% if @profile.present? %>
    <%= @profile.introduction %><br>
    <%= @profile.birthday %><br>
    <% if @profile.profilepic.url.present? %>
      <%= image_tag(@profile.profilepic.url) %><br>
    <% end %>
  　<% if current_user.id == @profile.user_id %>
      <%= link_to 'プロフィール編集', edit_profile_path, method: :get, class: 'btn btn-danger' %>
    <% end %>
<% end %>

<p><%= link_to 'ホームに戻る', posts_path, class:"btn btn-primary btn-lg" %></p>